.container{
    display: grid;
    grid-template: 1fr 1fr / repeat(auto-fit, minmax(530px, 1fr));
    gap: 50px;
}
.content{
    display: flex;
    gap: 40px;
}
.logo{margin-top: 25px;}
.h5{
    color: #ffffff;
    margin-bottom: 12px;
    font-weight: 700;
}
.info>p{color: #ffffff;}
@media (max-width: 768px){
    .h5{font-size: 15px;}
}
@media (max-width: 576px){
    .container{grid-template: 1fr  / 1fr;}
}